<nav class="top-nav" role="navigation" aria-label="Main navigation">
  <a class="nav-logo" [routerLink]="['/']" aria-label="CineMixer home"><img src="/cinemixer.svg" alt="CineMixer" /></a>

  <div class="nav-actions">
    <div class="account-menu-container">
      <button class="nav-btn" id="nav-btn-account" title="Account Menu" aria-label="Account Menu"
        (click)="toggleDropdown($event)">
        @if (session$ | async) {
        <span class="user-avatar">{{ getUserInitials() }}</span>
        } @else {
        <span class="material-symbols-rounded">account_circle</span>
        }
      </button>
      <div class="dropdown-menu" [class.show]="isDropdownOpen">
        <a class="dropdown-item" [routerLink]="['/account']" (click)="isDropdownOpen = false">
          <span class="material-symbols-rounded">person</span>
          Account
        </a>
        <a class="dropdown-item" [routerLink]="['/watchlist']" (click)="isDropdownOpen = false">
          <span class="material-symbols-rounded">bookmark</span>
          Watchlist
        </a>
        <button class="dropdown-item" (click)="isDropdownOpen = false">
          <span class="material-symbols-rounded">settings</span>
          Settings
        </button>
        <button class="dropdown-item text-danger" (click)="logout()">
          <span class="material-symbols-rounded">logout</span>
          Log out
        </button>
      </div>
    </div>
  </div>
</nav>